<div data-ng-controller="allocationCtrl as assessmentAllocations" id="allocate">
    <br>
    <br>
    <!-- Search bar -->
    <form class="form-inline" name="claimantForm">
        <div class="form-group">
            <label id="searchId" for="searchClaimant">Search for Claimant Assessment</label>&nbsp;&nbsp;
            <input tabindex="500" class="search-box" id="searchClaimant" type="search" data-ng-model="searchClaimant" placeholder="Type NINO/CRN" onKeyDown="limitText(18, claimantForm.searchClaimant);" onKeyUp="limitText(18, claimantForm.searchClaimant);" maxlength="18" placeholder="Type HP unique ID" type="text" max="8" required />&nbsp;
            <input tabindex="501" id="searchClaimantBtn" type="submit" value="Search" data-ng-click="search()">
            <p class="alert-danger" id="invalid" data-ng-show="searchClaimantNotValid" ><img ng-src="images/gov-uk/exclamation.png" width="18" height="18" />&nbsp;{{claimantInputFormatMsg}}</p>
            <p class="alert-danger" id="notFound" data-ng-show="assessmentsError" ><img ng-src="images/gov-uk/exclamation.png" width="18" height="18" />&nbsp;{{assessmentsErrorMsg}}</p>
            <p class="alert-danger" id="techError" data-ng-show="technicalError"><img ng-src="images/gov-uk/exclamation.png" width="18" height="18" />&nbsp;{{technicalErrorMsg}}</p>
        </div>
    </form>
    <hr/>
    <table class="table" id="assessmentTable" data-ng-controller="accessibilityCtrl">
        <thead>
        <tr>
            <th class="tHeadBold" colspan="100%">
                Assessment Allocation
            </th>
        </tr>
        <tr>
            <th tabindex="502" data-ng-keypress="onKeyPress($event, 'ninoOrCrn')" data-ng-click="sortType = 'ninoOrCrn'; sortReverse = !sortReverse" class="sortable-th">
                NINO/CRN
                <i data-ng-show="sortType == 'ninoOrCrn' && !sortReverse" class="sort-triangle-up"></i>
                <i data-ng-show="sortType == 'ninoOrCrn' && sortReverse" class="sort-triangle-down"></i>
                <i data-ng-show="sortType != 'ninoOrCrn'" class="sort-triangle-default"></i>
            </th>
            <th tabindex="503" data-ng-keypress="onKeyPress($event, 'caseCreated')" data-ng-click="sortType = 'caseCreated'; sortReverse = !sortReverse" class="sortable-th">
                Case Created
                <i data-ng-show="sortType == 'caseCreated' && !sortReverse" class="sort-triangle-up"></i>
                <i data-ng-show="sortType == 'caseCreated' && sortReverse" class="sort-triangle-down"></i>
                <i data-ng-show="sortType != 'caseCreated'" class="sort-triangle-default"></i>
            </th>
            <th tabindex="504" data-ng-keypress="onKeyPress($event, 'state')" data-ng-click="sortType = 'state'; sortReverse = !sortReverse" class="sortable-th">
                Status
                <i data-ng-show="sortType == 'state' && !sortReverse" class="sort-triangle-up"></i>
                <i data-ng-show="sortType == 'state' && sortReverse" class="sort-triangle-down"></i>
                <i data-ng-show="sortType != 'state'" class="sort-triangle-default"></i>
            </th>
            <th tabindex="505" data-ng-keypress="onKeyPress($event, 'stateDateTime')" data-ng-click="sortType = 'stateDateTime'; sortReverse = !sortReverse" class="sortable-th">
                Status Updated
                <i data-ng-show="sortType == 'stateDateTime' && !sortReverse" class="sort-triangle-up"></i>
                <i data-ng-show="sortType == 'stateDateTime' && sortReverse" class="sort-triangle-down"></i>
                <i data-ng-show="sortType != 'stateDateTime'" class="sort-triangle-default"></i>
            </th>
            <th tabindex="506" data-ng-keypress="onKeyPress($event, 'allocatedUserId')" data-ng-click="sortType = 'allocatedUserId'; sortReverse = !sortReverse" class="sortable-th">
                Allocated to
                <i data-ng-show="sortType == 'allocatedUserId' && !sortReverse" class="sort-triangle-up"></i>
                <i data-ng-show="sortType == 'allocatedUserId' && sortReverse" class="sort-triangle-down"></i>
                <i data-ng-show="sortType != 'allocatedUserId'" class="sort-triangle-default"></i>
            </th>
            <th><button tabindex="507" class="btn-fixed-size" data-ng-click="selectAllAlloc()">{{ selectedAllAlloc == true ? 'De-Select All' : 'Select All' }}</button></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="assessmentAllocation in assessmentAllocations | orderBy:sortType:sortReverse" data-ng-class="{'selected-row':assessmentAllocation.selected}" data-ng-click="setClickedRowAlloc(assessmentAllocation)">
            <td>{{ assessmentAllocation.ninoOrCrn }}</td>
            <td>{{ assessmentAllocation.caseCreated | date:"dd/MM/yyyy HH:mm"}}</td>
            <td>{{ assessmentAllocation.state }}</td>
            <td>{{ assessmentAllocation.stateDateTime | date:"dd/MM/yyyy HH:mm"}}</td>
            <td>{{ assessmentAllocation.allocatedUserId }}</td>
            <td><button tabindex="508" id="btn" class="btn-fixed-size">{{ assessmentAllocation.selected == true ? 'De-Select' : 'Select' }}</button></td>
            <td><span data-ng-class="{'rowError':!assessmentAllocation.selected}"><img src="images/gov-uk/exclamation.png" width="18" height="18" data-ng-show="assessmentAllocation.errorMessage" />&nbsp;{{ assessmentAllocation.errorMessage }}</span></td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td>
                <button tabindex="509" id="allocateId" class="btn-fixed-size" data-ng-click="allocate()" data-ng-disabled="disableAllocate">ALLOCATE</button>
            </td>
            <td>
                <button tabindex="510" class="btn-fixed-size" data-ng-click="remove()">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>