
<div class="modal-header" data-ng-show="headerText">
  <div class="navbar navbar-default navbar-inverse navbar-static-top add-bottom-margin" role="banner">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">GOV.UK MAPS UI</div>
      </div>
    </div>
  </div>
</div> <!-- modal-header -->
<div class="modal-body">
 <div class="row">
   <div class="col-sm-12">
     <h2 class="text-center">{{headerText}}</h2>
     <form novalidate="novalidate" autocomplete="off" class="form-horizontal" role="form" name="changePwd" data-ng-submit="ok()">
       <div data-ng-show="formErrors.length > 0" class="text-center">
         <span class="help-block" style="color: red;" data-ng-repeat="err in formErrors"><img id="img" ng-src="images/gov-uk/exclamation.png" width="14" height="14"/>&nbsp;{{err.msg}}</span>
       </div>
       <div class="text-center col-sm-12">Password must:<br/>
          <ul id="passwordToolTip">
          <li>Be at least 12 characters in length</li>
          <li>Contain characters from three of the following four categories: <br/>Uppercase, Lowercase, Numerical, Non-alphabetic.</li>
          <li>Not contain the ‘User ID’ or parts of the user’s full name <br/>(which exceed two consecutive characters).</li>
          <li>Not be a previous password.</li>
          </ul>
          <p>Please ensure you create a password that you will remember in the future</p>
       </div>
       <div class="form-group">
         <label class="control-label col-sm-3" id="currentPasswordLabel" for="currentPassword">Current Password</label>
         <div class="col-sm-8">
           <input class="form-control" type="password" id="currentPassword" data-ng-model="credentials.oldPassword" data-ng-required="true" />
         </div>
       </div>
       <div class="form-group">
         <label class="control-label col-sm-3" id="newPasswordLabel" for="newPassword">New Password</label>
         <div class="col-sm-8">
           <input class="form-control" type="password" id="newPassword" data-ng-model="credentials.newPassword" data-ng-required="true" />
         </div>
       </div>
       <div class="form-group">
         <label class="control-label col-sm-3" id="confirmNewPasswordLabel" for="confirmNewPassword">Confirm New Password</label>
         <div class="col-sm-8">
           <input class="form-control" type="password" id="confirmNewPassword" data-ng-model="confirmNewPassword" data-ng-required="true" />
         </div>
       </div>
       <button type="submit" class="hide">Submit</button>
     </form>
   </div>
 </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="close()" data-ng-show="closeButtonText" id="modal-cancel">{{closeButtonText}}</button>
  <button class="btn btn-primary" data-ng-click="ok();" id="modal-ok">{{actionButtonText}}</button>
</div>